# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual environments
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# Environment variables
# ==========================================================

.env

# ==========================================================
# IDEs
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# macOS
# ==========================================================

.DS_Store

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Experiment data
# ==========================================================

data/raw/**
data/processed/**
data/results/**

# ==========================================================
# Keep directory structure
# ==========================================================

!data/raw/**/.gitkeep
!data/processed/**/.gitkeep
!data/results/**/.gitkeep